/*Overriding the jumbotron class in the BootStrap theme*/
.jumbotron {
	padding-top: 7%;
    margin-bottom: 0px;
}
.jumbotron-after {
    min-height: 2px;
    width: 100%;
    background-color: #FF4A00;
    margin-bottom: 30px;
}

/*User Footer class rule created instead of default one*/
.kin-footer {
	padding-top: 30px;
  	padding-bottom: 50px;
  	margin-top: 40px;
	background-color: #101010;
	color: inherit;
}

/*Unused Script: Please ignore*/
.kin-row-hobby {
	margin-top: 10px;
	margin-bottom: 10px;
}

.mini-slideshow { 
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.mini-slideshow img { 
    position:absolute; 
    left:0; 
    top:0; 
}